
[Unit]
Description=runs a jester web service
After=network.target

[Service]
Type=simple
PIDFile=/run/ritual.pid
ExecStart=/home/samdm/Projects/pewpewthespells-com/ritual /home/samdm/Projects/WebsiteBackup/sitemap.yml
ExecReload=killall ritual ; /home/samdm/Projects/pewpewthespells-com/ritual /home/samdm/Projects/WebsiteBackup/sitemap.yml
ExecStop=-killall ritual
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
